<a class="card bg-base-100 hover:bg-base-content/10 shadow-xl cursor-pointer dark:border dark:border-base-content/30" href="{{ .RelPermalink }}">
  {{ if .Params.cover }}
  <figure>
    {{ with .Resources.Get .Params.cover }}
    {{ if eq .MediaType.SubType "svg" }}
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}" />
    {{ else }}
      {{ $webp := .Resize (printf "%dx%d webp" .Width .Height) }}
      <picture>
        <source srcset="{{ $webp.RelPermalink }}" type="image/webp" />
        <img src="{{ .RelPermalink }}" alt="{{ .Title }}" />
      </picture>
    {{ end }}
    {{ else }}
    {{ $cover := .Params.cover }}
    {{ if or (hasPrefix $cover "http://") (hasPrefix $cover "https://") }}
    <img src="{{ $cover }}" alt="{{ .Title }}" />
    {{ else }}
    <img src="{{ strings.TrimPrefix "/" $cover | relURL }}" alt="{{ .Title }}" />
    {{ end }}
    {{ end }}
  </figure>
  {{ else if not site.Params.noDefaultSummaryCover }}
  <figure>
    {{ with resources.Get (printf "images/default%d.jpg" (index (seq 4 | shuffle) 0)) }}
    {{ $webp := .Resize (printf "%dx%d webp" .Width .Height) }}
    <picture>
      <source srcset="{{ $webp.RelPermalink }}" type="image/webp" />
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}" />
    </picture>
    {{ end }}
  </figure>
  {{ end }}

  <div class="card-body">
    <h2 class="card-title">{{ .Title }}</h2>

    <p class="date text-base-content/60">
    {{ if site.Params.Experimental.jsDate }}
      <span data-format="luxon">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</span>
    {{ else }}
      {{ .Date | time.Format "Monday, Jan 2, 2006" }}
    {{ end }}
    </p>

  </div>
</a>
